{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/album_add.css' %}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Edit Album</title>
</head>
<body>
  <div class="wrapper">
  {% include "album_list.html" %}
    <div class="detail-container">
      <div class="moment-info" id="detailPage">
        <form action="{%url 'album_update' album.id%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
          <input type="text" name="image_datetime" class="form-control" id="datePicker" value="{{album.image_datetime}}">
          <div class="moment-container">
            {% if album.album_image %}
            <img src="{{album.album_image.url}}" id="output" alt="" class="moment__image"></img>
            {% endif %}
            <button class="secret-button"></button>
          </div>
          <input type="text"  name="comment" class="form-control" id="comment" value="{{album.comment}}" placeholder="순간에 대한 설명을 남겨보세요">
          <div class="button-container">
            <label for="input_file" class="edit-button">사진변경</label>
            <input id="input_file" type="file" class="hide" accept="image/*" onchange="loadFile(event)" name="album_image">
            <button class="delete-button" type="button" onclick="doDelete();">삭제하기</button>
            <button class="edit-button" type="submit">저장하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  //datepicker
  $( function(){
    $("#datePicker").datepicker({
      inline: true,
      showOtherMonths: true,
      showMonthAfterYear: true,
      dateFormat: "yy-mm-dd",
      monthNames: [ '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12' ],
      dayNamesMin: ['일', '월', '화', '수', '목', '금', '토']
    });
  });

  $('.secret-button').click(function(){
    $(this).toggleClass('private');
  });

  function doDelete(){
     location.href = "{% url 'album_delete' album.id %}";
  }
  function doUpdate(){
     location.href = "{% url 'album_update' album.id %}";
  }
  function goAdd(){
     location.href = "{% url 'album_add' %}";
  }
  //uplaoad button 
  $('#output').on('click', function() {
      $('#input_file').trigger('click');
    });

  //image preview
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>

</script>
</html>