@charset "UTF-8";
.album-container {
  margin: 100px auto 0;
  width: 1100px;
}
.album-info {
  margin: 10px 140px;
  overflow: hidden;
}
.pet__image {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #707070;
  float: left;
  object-fit: cover;
}
.pet__name {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #484848;
}
.user__detail {
  font-size: 18px;
  line-height: 1;
  color: #484848;
}
.slide-container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}
.carousel-image {
  width: 75%;
  height: 520px;
  object-fit: cover;
  object-position: 50% 50%;
}
.heart-button {
  position: absolute;
  right: 150px;
  bottom: 15px;
  width: 46px;
  height: 46px;
  color: #fff;
  background-color: #bcbcbc;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .16);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .16);
  border-radius: 50%;
}
.play-pause-button {
  font-size: 60px;
  color: #707070;
  background-color: transparent;
}
.hearted {
  background-color: #016FAC;
}
.carousel-image:hover {
  cursor: pointer;
}
.button-container {
  text-align: center;
}
.modal-body {
  padding: 0 !important;
}
.modal__text {
  color: #707070;
  padding: 20px;
}
.modal__date {
  font-size: 12px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #707070;
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1.5px;
}
.slider:hover {
  opacity: 1; 
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 12px; 
  height: 12px; 
  background: #000;
  border-radius: 50%;
  cursor: pointer
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000; 
  cursor: pointer;
}
.slider::-webkit-progress-value {
  background-color: #ff0000; 
}