@charset "UTF-8";
body {
  overflow: hidden;
}
.navbar {
  background-color: #016FAC;
}
.save-button {
  height: 36px;
  padding: 0 50px;
  font-size: 18px;
  font-weight: bold;
  color: #016FAC;
  background-color: #fff;

  border-radius: 18px;
}
.pet__image {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #707070;
  float: left;
  background-color: #fff;
  object-fit: cover;
}
.delete-button, .edit-button {
  color: #fff;
  padding: 2px 16px;
}
.delete-button {
  color: #fff;
  background-color: #c9c9c9;
}
.edit-button {
  color: #fff;
  background-color: #016FAC;
}

.aside-container {
  overflow: scroll;
  position: absolute;
  padding: 15px;
  width: 270px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 10px 0 16px 0 rgba(0, 0, 0, .02);
  -moz-box-shadow: 10px 0 16px 0 rgba(0, 0, 0, .02);
  box-shadow: 10px 0 16px 0 rgba(0, 0, 0, .02);
}
.aside__title {
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #353535;
}
.detail-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -20;
  padding-left: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check-inline > label {
  color: #8c8c8c;
}
.image-list {
  padding: 10px;
}
.image-item {
  counter-increment: item;
  margin-top: 24px;
}
.image-item:hover {
  cursor: pointer;
}
.image-item:before {
  content: counter(item);
  color: #000;
  width: 28px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}
.image-thumbnail {
  width: 180px;
  height: 100px;
}
.upload-button {
  width: 180px;
  height: 100px;
  margin: 0 0 60px 42px;
  background-color: #D2D2D2;
  color: #fff;
  font-size: 32px;
}

.moment-info input {
  margin: 10px 0;
}
.moment-container {
  display: block;
  position: relative;
}
.moment__image {
  width: 800px;
  height: 500px;
}
.secret-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 46px;
  height: 46px;
  background-color: #ac0101;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  border-radius: 50%;
}
.button-container {
  text-align: center;
}

/* upload-btn */
.upload-info {
  margin-top: 10px;
  position: relative;
  display: block;
}
/* .upload-btn-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 800px;
  height: 500px;
  color: #fff;
}
.upload-btn {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.upload-btn-wrapper input[type=file] {
  /* font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
} */

.dropbox {
  width: 800px; 
  height: 500px;
  color: #fff;
  background-color: #D2D2D2;
}
.dropbox i {
  font-size: 72px;
}
.dropbox div {
  font-size: 24px;
  font-weight: bold;
}
.dropbox p {
  font-size: 14px;
}
#fileDragDesc {
  width: 100%; 
  height: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 200px 10px; 
  text-align: center; 
  vertical-align: middle;
}
.upload-table {
  width: 100%;
  margin: 10px;
}
.upload-submit {
  margin-top: 20px;
  border: 0;
  background-color: #016FAC;
  color: white;
  padding: 2px 16px;
}


/* DatePicker */
.ui-datepicker {
  width: 500px;
  height: auto;
  margin: 0 auto;
  font-size: 12pt;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  background-color: rgba(256, 256, 256, .8);
}

.ui-datepicker a {
  color: #016FAC;
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
  margin-bottom: 20px;
}

.ui-datepicker-title {
  background-color: rgba(256, 256, 256, .8);
  padding: 10px;
  color: #016FAC;
  font-weight: bold;
  text-align: center;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
  padding: 10px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
  padding: 10px;
}

.ui-datepicker thead {
  background-color: rgba(256, 256, 256, .8);
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 12pt;
  padding: 5px 0;
  color: #666666;
}