{% extends 'base.html' %}

{% load static %}

{% block container %}

<style>
    .logo-image {
        margin-top: 50px;
        height: 150px;
    }

    .logo-text {

        font-size: 70px;
        font-weight: bold;
    }

    body {
        /* background-image: url("aboutus_background.jpg"); */
        background-color: #1938a0;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        position: relative;
    }
</style>
<img src="{% static 'main.png' %}" width="100%"><br>

{% endblock %}