<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <style>
      body{text-align: center;}
    </style>
  </head>

<body>
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main' %}">
        <img src="{% static 'logo_black.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        little_friends
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="navbar-form navbar-left" role="search">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{% url 'about_us' %}">About_us</a>
          <a class="nav-link" href="{% url 'Home_sun' %}">Home</a>
          
          {% if not user.is_authenticated %}
          <a class="nav-link" href="{% url 'Home_sun' %}">Join</a>
          <a class="nav-link" href="{% url 'login' %}">Login</a>       
          {% endif %}  

          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'login' %}">Pet</a>  
          <a class="nav-link" href="{% url 'login' %}">{{user.username}}</a>  
          {% endif %}  
        </div>
      </form>
      </div>
    </div>
  </nav>  
  
  <img src="{% static 'logo_black.png' %}" alt="" width="" height="">
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
<!-- {% load static %} -->
<!--base.html에는 공통적으로 들어갈 부분을 작성해준다-->
<!--템플릿 태그 {% block %}으로 HTML 내에 들어갈 수 있는 공간생성. base.html을 확장해 다른 템플릿에도 가져다 쓸 수 있도록 함.-->